*~
*.[oa]
*.lo
*.Po
*.Plo
*.la
*.pc
*.cache/
*.in
*.m4
*.log
*.xml
*.html
*.tuc
*.pdf
config.h
configure
config.status
Makefile
tester
stamp-*
libtool
.libs/
.deps/

doc/
m4/*
build-aux/*
build/*

!*.pc.in
!m4/pm-check-qhull.m4